@font-face {
  font-family: Coco;
  src: url(./fonts/Cocogoose_trial.otf);
}

:root {
  --color-primary: #d3d3d3;
  --color-secondary: #ec5242;
  --color-accent: #272a31;
  --color-bg: #f7f7f7;
  --color-text: #6d6d6d;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: #fff;
}

/* Home Page Section */

.homePage {
  background-image: url(./images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
  background-color: rgb(245, 245, 245);
  height: 63rem;
  display: flex;
  flex-direction: column;
}

.topNav {
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1.2rem;
  background: #3e3e3e;
  color: #f4f4f4;
  list-style: none;
  font-style: normal;
  font-size: 1rem;
  font-weight: 500;
  line-height: 2.8rem;
  padding: 0 15rem;
}

.icon-facebook {
  filter: invert(99%) sepia(12%) saturate(5%) hue-rotate(247deg) brightness(112%) contrast(91%);
  width: 0.6rem;
}

.icon-twitter {
  filter: invert(99%) sepia(12%) saturate(5%) hue-rotate(247deg) brightness(112%) contrast(91%);
  width: 1rem;
}

.menuIcon {
  position: absolute;
  left: 5%;
  top: 2%;
  background: none;
  border: none;
  color: #272a31;
}

.menuIcon img {
  filter: invert(31%) sepia(6%) saturate(5%) hue-rotate(342deg) brightness(98%) contrast(90%);
  width: 3rem;
}

.closeIcon {
  position: fixed;
  top: 2%;
  left: 70%;
  background: none;
  border: none;
  z-index: 100;
  display: none;
}

.closeIcon img {
  width: 2rem;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(88deg) brightness(103%) contrast(107%);
}

@media screen and (max-width: 768px) {
  .navBar {
    display: flex;
    position: fixed;
    transform: translateX(-100%);
    transition: transform 1s;
    flex-direction: row;
    align-items: flex-start;
    width: 80%;
    height: 100vh;
    background-color: rgb(39, 42, 49, 0.98);
    padding-top: 5rem;
    padding-left: 4rem;
    z-index: 99;
  }

  .popupMenu {
    transform: translateX(0);
  }
}

.bottomNav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  list-style: none;
  color: var(--color-primary);
  font-style: normal;
  font-size: 1rem;
  font-weight: 500;
  line-height: 2.8rem;
}

.bottomNav li a {
  color: #fff;
  list-style: none;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.8rem;
  border-bottom: 1px solid #fff;
}

.bottomNav li a:hover {
  color: var(--color-secondary);
  border-bottom: none;
}

.logoImg {
  display: none;
  width: 18rem;
  height: 5.4rem;
  filter: invert(43%) sepia(209%) saturate(896%) hue-rotate(322deg) brightness(80%) contrast(102%);
}

#btn {
  color: #fff;
  background: var(--color-secondary);
  padding: 1rem;
  border: none;
}

#btn:hover {
  color: black;
  font-size: 1.4rem;
  padding: 0.8rem;
}

.mainTitle {
  margin: 12rem auto 3rem 2rem;
}

.hello {
  color: #f54104;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 1rem;
}

h1 {
  text-transform: uppercase;
  color: var(--color-secondary);
  font-family: 'Coco', sans-serif;
  font-style: normal;
  font-size: 3rem;
  line-height: 3.2rem;
}

.place {
  background: var(--color-bg);
  border: 3px solid #fff;
  color: var(--color-text);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  padding: 1.6rem;
  width: 90%;
  margin: 0 auto 2rem 2rem;
}

.date {
  color: var(--color-text);
  font-family: 'Coco', sans-serif;
  font-style: normal;
  font-size: 2.8rem;
  line-height: 2rem;
  margin: 1rem 2rem;
}

.venue {
  color: var(--color-text);
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  margin: 1rem 2rem;
}

@media screen and (min-width: 768px) {
  .topNav {
    display: flex;
  }

  .navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 6rem;
    background: #fff;
    padding: 0;
  }

  .bottomNav {
    flex-direction: row;
    align-items: center;
    gap: 3rem;
  }

  .bottomNav li a {
    color: var(--color-text);
    border-bottom: none;
  }

  .bottomNav li a:hover {
    color: var(--color-secondary);
    font-size: 1.6rem;
    font-weight: bold;
  }

  .menuIcon img {
    display: none;
  }

  .logoImg {
    display: flex;
  }

  #btn {
    color: var(--color-text);
    background: #fff;
    padding: 1rem;
    border: 4px solid var(--color-secondary);
  }

  .homePage {
    background-image: url(./images/bg.png);
    height: 73rem;
  }

  .mainTitle {
    margin: 12rem auto 3rem 15rem;
  }

  .hello {
    font-size: 3rem;
  }

  h1 {
    font-size: 4.5rem;
    line-height: 4.5rem;
    width: 60%;
  }

  .place {
    width: 45%;
    margin-left: 15rem;
  }

  .date {
    margin-left: 15rem;
  }

  .venue {
    margin-left: 15rem;
  }
}

/* Main Program Section */

.mainProgram {
  background-image: url(./images/bg-main-program.png);
  background-size: cover;
  background-position: top center;
  height: 78rem;
}

.h3_main {
  color: #fff;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  padding: 3.5rem 1rem 1.6rem 1rem;
}

.hr_main {
  width: 10%;
  border-radius: 1px;
  margin: 0 auto;
  border-color: var(--color-secondary);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  place-items: center;
  margin: 4rem 3rem 3rem 3rem;
}

.prog {
  background-color: rgb(61, 64, 71, 0.7);
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 1rem;
  width: 100%;
}

.prog img {
  filter: invert(93%) sepia(0%) saturate(1%) hue-rotate(169deg) brightness(109%) contrast(102%);
  width: 4rem;
}

.prog h4 {
  width: 15%;
  color: var(--color-secondary);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
}

.prog p {
  padding-left: 1rem;
  width: 55%;
  color: #fff;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}

.join {
  background: var(--color-secondary);
  color: #fff;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  padding: 2rem 6rem;
  display: flex;
  margin: 0 auto;
  text-align: center;
}

.join:hover {
  color: black;
  border: 1px solid #fff;
}

.seeMore {
  display: none;
}

@media screen and (min-width: 768px) {
  .mainProgram {
    height: 100%;
    padding-bottom: 10rem;
  }

  .h3_main {
    padding-top: 5rem;
    font-size: 3rem;
    font-weight: 400;
  }

  .hr_main {
    width: 5%;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1rem;
    margin: 4rem 10%;
  }

  .prog {
    max-width: 85%;
    flex-direction: column;
    height: 97%;
    justify-content: flex-start;
  }

  .prog h4 {
    width: auto;
  }

  .prog p {
    width: auto;
    text-align: center;
    padding-left: 0;
  }

  .join {
    display: none;
  }

  .seeMore {
    width: 30%;
    display: flex;
    color: #fff;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2rem;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: underline;
    padding-top: 3rem;
    word-spacing: 0.3rem;
    margin: 0 auto;
  }

  .seeMore:hover {
    color: var(--color-secondary);
  }
}

/* Speakers Section */

.speech h3 {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  padding: 3rem 0 0 0;
}

.hr_speech {
  width: 10%;
  border-radius: 1px;
  margin: 1rem auto;
  border-color: var(--color-primary);
}

.containerAllSpeakers {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 1rem;
}

.containerSpeaker {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 1rem 2rem;
  gap: 1rem;
}

.containerSpeaker:nth-child(1n+3) {
  display: none;
}

.photoSpeaker {
  width: 10rem;
  height: 10rem;
  margin-left: 20%;
  margin-top: 1rem;
}

.info {
  list-style: none;
}

.info li:nth-child(1) {
  font-size: 1.6rem;
  font-weight: bold;
}

.info li:nth-child(2) {
  font-size: 1.4rem;
  font-style: italic;
  color: #fe523a;
}

.hr_info {
  width: 10%;
  border-radius: 1px;
  border-color: var(--color-primary);
  margin: 1rem 0;
}

.info li:nth-child(4) {
  color: var(--color-text);
  line-height: 1.4rem;
}

#moreBtn {
  display: flex;
  justify-content: center;
  background: #fff;
  border: 1px solid var(--color-text);
  width: 90%;
  margin: 1rem auto;
  padding: 1rem;
  text-transform: uppercase;
  color: var(--color-text);
}

#moreBtn:hover {
  border: 2px solid var(--color-secondary);
}

#angleDown {
  width: 1.2rem;
  padding-top: 0.2rem;
  margin-left: 0.5rem;
  filter: invert(43%) sepia(1%) saturate(668%) hue-rotate(104deg) brightness(98%) contrast(93%);
}

@media screen and (min-width: 768px) {
  .containerAllSpeakers {
    grid-template-columns: 1fr 1fr;
    margin: 0 10% 3rem 10%;
  }

  #moreBtn {
    display: none;
  }

  .containerSpeaker:nth-child(1n+3) {
    display: grid;
  }

  .photoSpeaker {
    margin-left: 5%;
  }

  .hr_speech {
    width: 5%;
  }
}

/* Partner Section */

.partner {
  background: #424146;
  height: auto;
}

.h3_partner {
  color: #9e9ea0;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem;
  text-align: center;
  padding: 3rem 0 2rem 0;
}

.hr_partner {
  width: 10%;
  border-radius: 1px;
  margin: 0 auto;
  border-color: var(--color-secondary);
}

.partner ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  list-style: none;
  gap: 0.1rem 5rem;
  padding: 1rem 1rem;
}

.brandLogo {
  width: 12rem;
  height: 8rem;
  filter: invert(65%) sepia(2%) saturate(42%) hue-rotate(316deg) brightness(85%) contrast(93%);
}

#hilton {
  height: 4.2rem;
  margin-top: 2.3rem;
}

@media screen and (min-width: 768px) {
  .hr_partner {
    width: 5%;
  }
}

/* Footer */

.footerHome {
  background: #f2f2f2;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  gap: 4rem;
  padding: 4rem 2rem;
}

.footerImg {
  width: 18rem;
  height: 6rem;
  filter: brightness(20%);
}

.footerHome p {
  color: #000;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2rem;
}

@media screen and (min-width: 768px) {
  .footerHome {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 4rem 2rem;
  }

  .footerImg {
    width: 23rem;
    height: 8rem;
  }
}
